.animation {
  opacity: 0;
  &__hero-heading {
    animation: slideInLeft 1.6s forwards 0.6s;
    @media (min-width: 1024px) {
      animation: slideInRight 1.6s forwards 0.6s;
    }
  }
  &__hero-subtitle {
    animation: slideInLeft 1.1s forwards 1.2s;
    @media (min-width: 1024px) {
      animation: slideInRight 1.1s forwards 1.2s;
    }
  }
  &__navigation {
    animation: slideInUp 1s forwards;
  }
  &__project-button {
    animation: mainButtonAnimation 0.9s forwards 1.8s ease-in-out;
  }
  &__hero-image {
    animation: slideInDown 1.5s forwards ease-out;
  }
  &__social-media-list {
    animation: fadeIn 2s forwards ease-out;
  }
  &__logo {
    animation: fadeIn 2s forwards ease-out;
  }
  &__email {
    animation: slideInLeft 1.2s forwards 1.5s;
  }
  &__carousel {
    animation: slideInDown 1.4s forwards;
  }
  &__card-hobby {
    animation: slideInDown 1s forwards ease-out;
    @media (min-width: 1024px) {
      animation: slideInRight 0.6s forwards ease-out;
    }
  }
  &__projectImageLeft {
    animation: slideInLeft 1.2s forwards ease-out;
  }
  &__projectImageRight {
    animation: slideInRight 1.2s forwards ease-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes mainButtonAnimation {
  0% {
    transform: scale(1);
  }
  50%,
  60% {
    background-color: #f0271a;
    transform: scale(1.1);
  }
  100% {
    background-color: #fb5607;
    transform: scale(1);
    opacity: 1;
  }
}
