@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat+Alternates:wght@300;400;500;700&display=swap');
@import "modules/_base.scss";
@import "modules/_layouts.scss";
@import "modules/_components.scss";


.about {
    background: yellowgreen;
    height: 400px;
    width: 100%;
}


